
/*Global variables*/
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
@font-face{
    font-family:'Ruhl';
    src:url("./fonts/FrankRuhlLibre-Regular.ttf");
}
@font-face{
    font-family:'Ruhl Medium';
    src:url('./fonts/FrankRuhlLibre-Medium.ttf');
}
@font-face{
    font-family:'Vibes';
    src:url('./fonts/GreatVibes-Regular.ttf');
}
html{
    font-size:62.5%;
    --header1:calc(2rem + 1vw);
    --header2:calc(3.5rem + 1vw);
    --header3:calc(3rem + 1vw);
    --header4:calc(2.4rem + 1vw);
    --text:calc(1.5rem + 1vw);
    --big:calc(2.4rem + 1vw);
    --specialColor:#906072;
    --backgroundColor: #414141;
    --grayText:#525252;
}
body{
    font-family:"Ruhl", sans-serif;
    scroll-behavior: smooth;
    animation: opening 1s ease-in-out;
}
h1{
    font-family:"Vibes" , sans-serif;
    font-size:var(--header1);
}
li,
button,
label,
input,
p{
    font-size:var(--text);;
}
h2{
    font-size:var(--header2);
   
}
h3{
 font-size:var(--header3);;  
 
}
h4,
h5{
    font-size:var(--header4);;
}

ul{
    list-style: none;
}
a{
    text-decoration:none;
    color: black;
  
}
.flex{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
}

/*Nav and Hero Section*/
.mainHead{
    box-shadow: 0px 10px 5px rgba(0,0,0,0.1);
    z-index:2;
    position: relative;
}
nav{
    display:flex;
    width:90%;
    margin: auto;
    min-height: 10vh;
    align-items:center;
    flex-wrap: wrap;
}
.navLinks{
  flex: 1 1 20rem;
  display: flex;
  justify-content: space-around;
  
}
#logo{
    flex: 1 1 20rem;
}
.menuCheck,
.burder{
    display: none;
}

.hero{
    min-height:90vh;
    text-align:center;
    display:flex;
    flex-wrap: wrap;
    width:95%;
    margin: 0 0 0 auto;
    overflow:hidden;
}
.heroIntroduction{
    flex:2 1 40rem;
   
}
.heroIntroduction h2{
  
    padding-top: 3rem;
}
.heroIntroduction p{
  color: var(--grayText);
    padding: 5rem 10rem;
}
.heroIntroduction a{
    font-size: var(--text);
    padding: 2rem 8rem;
    border: 3px solid black;
    margin-bottom:4rem;
}
.heroImages{
    flex: 1 1 40rem;
    background: linear-gradient(#dad8dd,#dad1d4);
    position: relative;
    z-index: 1;
}
.heroElena{
    width:100%;
    height: 100%;
    object-fit: cover;
}
.plant{
    position:absolute;
    bottom:0;
    left:-20%;
    z-index: -1;
    transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
    animation: plantEntrance 1.5s ease-in-out 0.5s forwards,
    plantShake 2.5s infinite ease-in-out alternate-reverse 2s;
    transform-origin:bottom;
    max-height: 80%;
}
.plant2{
    left:40%;
}

/*Animations*/

@keyframes opening{
    from{
        opacity:0;
    }
    to {
         opacity:1;
    }
}
@keyframes plantEntrance{
    from{
        transform: translateY(10%) rotateZ(-10deg) rotateX(-90deg);
    }
    to{
        transform: translateY(0%) rotateZ(0deg) rotateX(0deg);
    }
}
@keyframes plantShake{
    from{
        transform: rotateZ(-5deg);
    }
   to{
        transform: rotateZ(0deg);
    }
}

/*About Section*/
.about{
    display: flex;
    min-height: 100vh;
    flex-wrap: wrap;
    background: var(--backgroundColor);
    
}
.aboutImages{
    position: relative;
    flex: 1 1 40rem;
}
.aboutImages h5{
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translate(-50%);
    letter-spacing:2rem;
}
.aboutImages img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.aboutText{
    flex: 2 1 40rem;
    color: white;
    justify-content: space-around;
    width: 90%;
    margin: auto;
}
.aboutText div{
    width: 90%;
    margin: auto;
    padding-top: 3rem;
}
.aboutText h3{
    padding: 2rem 0rem;
    font-family: "Ruhl Medium";
}
.aboutText h2{
    font-family: "Vibes";
    padding-top: 4rem;
}


/*Image Gallery*/
.gallery{
    display: grid;
    min-height: 100vh;
    grid-template-columns:repeat(3,1fr)
    position: relative;
}
.gallery img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.gallery1{
    grid-column:1/3;
}
.gallery2{
    grid-column:3/4;
    grid-row:1/3;
}
.gallery3{
    grid-column:1/2;
}
.gallery4{
    grid-column:2/3;
}



/*Media Queries*/
@media screen and (max-width:842px){
    .hero{
        width:100%;
    }
    .heroIntroduction p{
  
        padding: 5rem 3rem;
    }
   .burger{
       position: relative;
   }
    .burger span{
        padding:0.2rem 2rem;
        margin: 0.5rem;
        background: var(--grayText)
    }
    .navLinks a{
        color: white;
        font-size: var(--header3);
        text-decoration: underline;
        
    }
    .navLinks{
        background: var(--backgroundColor);
        flex-direction: column;
        align-items: center;
        position:fixed;
        width:100%;
        height: 100%;
        top: 0;
        left:100%;
    }
    .menuCheck{
        position: absolute;
        display: block;
        top: 50%;
        right: 5%;
        transform:translate(5%,-50%);
        width: 5rem;
        height: 5rem;
        cursor: pointer;
        opacity: 0;
        z-index:100;
     }
     .menuCheck:checked + .navLinks{
        transform :translate(-100%);
     }
     .menuCheck:checked ~ .burger span {
        background: white;
    }
   /*Gallery Section*/
   .gallery img{
       grid-column:auto;
       grid-row:auto;
   }
   .gallery{
       grid-template-columns: repeat(auto-fit, minmax(30rem,1fr));
   }
    
}